nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	width: 100%;
	padding: 20px 150px;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 8vh;
	z-index: 1;
}

.cart-icon{
	width: 10px;
}

.cart-icon img{
	width: 25px;
}

.navList{
	z-index: 1
}

.navList li.cart-icon-container{
	position: relative;
}

#cart-count{
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 10px;
	background: #DDA220;
	color: #000;
	font-weight: bold;
}

.darkNav{
	background-color: rgba(39, 18, 9, 0.8);
}