nav{
	color: white;
	width: 100%;
	padding: 10px 100px;
	box-sizing: border-box;
	min-height: 8vh;
	display: flex;
	justify-content: space-between;
	position: static;
	top: 0;
	left: 0;
}

.cart-icon{
	width: 10px;
}

#iconContainer, .menuIcon{
	display: none;
}

.cart-icon img{
	width: 25px;
}

.navList li.cart-icon-container{
	position: relative;
}

#cart-count{
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 10px;
	background: #DDA220;
	color: #000;
	font-weight: bold;
}

.darkNav{
	background-color: rgba(39, 18, 9, 0.8);
}

.brand a{
	color: #fff;
	text-decoration: none;
}

@media only screen and (max-width: 860px) {
  nav{
		flex-direction: column;
		padding-left: 20px;
		padding-top: 20px;
		padding-right: 20px;
		z-index: 2;
	}

	#iconContainer{
		display: block;
	}

	.menuIcon{
		display: block;
		width: 35px;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.hiddenNav{
		visibility: hidden;
		height: 10px;
	}
}
