.navList{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	z-index: 2;
}

.navList li{
	margin: 0 10px;
	font-size: 1em;
}

.navList li a {
	text-decoration: none;
	color: #fff;
}

.navList a:visited{
	color: #fff;
}

@media only screen and (max-width: 860px) {
  .navList{
		flex-direction: column;
	}
	.navList li{
		margin: 10px 0;
	}
}